/*Kushals code */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: 100%;
   }


.nav{
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ab {
    color: rgb(255, 255, 255);
}

.smtn {
    width: 20%;
}

.no {
    margin-right: 51%;
}
:root {
    --primary-color: rgba(0, 0, 0, 0.75);
    --overlay-color: rgba(123, 88, 60, 0.85);
    --menu-speed: 0.75s;
}

.container {
    max-height: 20%;
    max-width: 95%;
    margin: 4%;
    overflow: hidden;
    background-color: #fff
}

.red-color {
    color:red;
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0); 
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0; 
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td {
    background: rgb(186, 16, 16);
    color: #fff;
    border: none;
    padding: 6px 0;
}

#cart-container table td {
    border: 1px solid #cccccc;
    text-align: center;
}

#cart-container table thead td:nth-child(1) {
    width: 100px;
}

#cart-container table thead td:nth-child(2), 
#cart-container table thead td:nth-child(3)
#cart-container table thead td:nth-child(4), 
#cart-container table thead td:nth-child(5) {
    width: 170px;
}

#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

#cart-container table tbody i {
    color: black;
}

.asd {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.tot {
    margin-top: -114px;
    margin-left: 49%;
    height: 112px;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div {
    border: 1px solid #cccccc;
    margin-bottom: 1.6px;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5 {
    background: rgb(186, 16, 16);
    color: #fff;
    border: none;
    padding: 6px 0;
    font-weight: 700px;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input {
    padding: 0 12px;
}

#cart-bottom .coupon input {
    height: 44px;
}

#cart-bottom .coupon input {
    margin: 13px 134px 7px 12px;
}

#cart-bottom .total div>div {
    padding: 0 12px;
}

#cart-bottom .total h6 {
    color: black;
}

.second-hr {
    background: #cccccc;
    width: 100%;
    height: 1px;
}

/*Kushals code */